.home-container {
  width: 100%;
  min-height: 100vh;
  background-color: #F1F1F1;
  display: flex;
  flex-direction: column;
  position: relative;
}

.home-content {
  flex: 1;
  padding: 0 30px 100px;
  overflow-y: auto;
}
